/*=============== GOOGLE FONTS ===============*/
/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* https://colors.dopely.top/color-pedia */
  --hue: 174;
  --sat: 63%;
  --first-color: #240046;
  --first-color-alt: #00b4d8;
  --title-color: #14213d;
  --text-color: #000000;
  --body-color: #f8f9fa;
  --container-color: #edf6f9;
  --button-color: #edf6f9;
  --button-color-alt: #8eecf5;
  --scroll-bar-color: #adb5bd;
  --scroll-thumb-color: #a3c4f3;

  /*========== Font and typography ==========*/
  --body-font: "STIX Two Text", serif;
  --header-font-size: 2rem;
  --title-font-size: 1.5rem;
  --subtitle-font-size: 1.15rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /*========== z-index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
